# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.simple-roleplay-client.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\Downloads\simple-roleplay-client\.idea\.idea.simple-roleplay-client.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
